{% extends 'index.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <table class="table table-dark table-striped-columns">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Students</th>
            <th scope="col">Start Date</th>
            <th scope="col">Count of lessons</th>
            <th scope="col">Speciality</th>
            <th scope="col">Address</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% for group in groups %}
            <tr>
                <th scope="row">{{ group.pk }}</th>
                <td>{{ group.name }}</td>
                <td>{{ group.max_students }}</td>
                <td>{{ group.start_date }}</td>
                <td>{{ group.count_of_lessons }}</td>
                <td>{{ group.speciality }}</td>
                <td>{{ group.address_lessons }}</td>
                <td>
                    <a type="button" class="btn btn-primary"
                       href="{% url 'groups:update_group' group.pk %}">Edit</a>
                </td>
                <td>
                    <a type="button" class="btn btn-primary"
                       href="{% url 'groups:delete_group' group.pk %}">Delete</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock content %}