{% extends 'index.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <table class="table table-dark table-striped-columns">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">First name</th>
            <th scope="col">Last name</th>
            <th scope="col">Email</th>
            <th scope="col">Phone number</th>
            <th scope="col">Birth date</th>
            <th scope="col">Rating</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% for teacher in teachers %}
            <tr>
                <th scope="row">{{ teacher.pk }}</th>
                <td>{{ teacher.first_name }}</td>
                <td>{{ teacher.last_name }}</td>
                <td>{{ teacher.email }}</td>
                <td>{{ teacher.phone_number }}</td>
                <td>{{ teacher.rating }}</td>
                {% if teacher.birth_date %}
                    <td>{{ teacher.birth_date }}</td>
                {% else %}
                    <td>Unknown</td>
                {% endif %}
                <td>
                    <a type="button" class="btn btn-primary"
                       href="{% url 'teachers:update_teacher' teacher.pk %}">Edit</a>
                </td>
                <td>
                    <a type="button" class="btn btn-primary"
                       href="{% url 'teachers:delete_teacher' teacher.pk %}">Delete</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock content %}