{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>!!!!!!!!!!!!!!!!!!!!</title>
</head>
<body>
    <h1>404 Not Found</h1>
    <p>Oops</p>
    <img src="{% static 'img/img_404.png' %}" alt="404">
</body>
</html>